
body {
                /*background-image: url("https://png.pngitem.com/pimgs/s/192-1929730_india-map-clip-art-india-map-in-grey.png");*/
        background-image: url("https://www.publicdomainpictures.net/pictures/160000/velka/background-wallpaper-aged-peach.jpg");
        background-repeat: repeat;
        background-size: 100%;
        margin-right: 5px;
        margin-left: 10px;
 }

p {
    color: goldenrod;
    font-style: italic;
    font-size: larger;
  }
  
  
 h1 {
    color: rgb(139, 10, 38);
    font-style: oblique;
    text-align: center;
    font-size: 63px;
 }
  
  h2 {
      font-style: oblique;
        color: rgb(139, 10, 38);
    /*--margin-left: 20px;--*/
      font-size: 2em;
  }
  
  h3 {
      font-style: oblique;
    color:rgb(139, 10, 38)  ;
    font-size:1.6em ;
    /*--margin-left: 18px;--*/
  }
